<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>22B8ECA9-C3D1-4670-ACEE-79335B9AAEEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1D9D3C1D-2D95-4BCC-B606-154D8CE31E7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4B7DB9D4-3060-44CE-B15F-D37AD4D1B7F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22B8ECA9-C3D1-4670-ACEE-79335B9AAEEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Roy Zuo</string>
	<key>description</key>
	<string>用快递100查询快递</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>快递查询</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>2</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>快递的状态已经复制到剪切板</string>
				<key>title</key>
				<string>快递查询</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>kd</string>
				<key>runningsubtext</key>
				<string>查询中</string>
				<key>script</key>
				<string>if [[ -n "{query}" ]]; then
  /usr/bin/ruby ./kuaidi -f alfred {query}
else
  /usr/bin/ruby ./list_query.rb
fi</string>
				<key>subtext</key>
				<string>请输入快递单号，不用输入快递公司</string>
				<key>title</key>
				<string>查询快递</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4B7DB9D4-3060-44CE-B15F-D37AD4D1B7F0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>echo {query}|tr ";" "\n"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>22B8ECA9-C3D1-4670-ACEE-79335B9AAEEA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1D9D3C1D-2D95-4BCC-B606-154D8CE31E7B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1D9D3C1D-2D95-4BCC-B606-154D8CE31E7B</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>22B8ECA9-C3D1-4670-ACEE-79335B9AAEEA</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>4B7DB9D4-3060-44CE-B15F-D37AD4D1B7F0</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>A70A4E1E-712E-4575-967A-0AA64960904D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
